# Created by https://www.gitignore.io/api/python
### Python ###
__pycache__/
*.zip

#Files auto generated
Chapter 17 - Manipulating images/transparentImage.png
Chapter 17 - Manipulating images/purpleImage.png